body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
	/*background-color: steelblue;*/
}

#title {
	background-color: steelblue;
	margin: 0;
	text-align: center;
	padding: 20px 0;
	color: white;
}

p {
	margin: 0;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	background-color: white;
}

#details {
	background-color: steelblue;
	color: white;
	font-size: 2em;
}

#box {
	width: 200px;
	height: 200px;
	background-color: red;
	display: none;
	position: relative;
}

#timedP {
	background-color: steelblue;
	color: white;
	font-weight: bold;
}

#total{
	width: 100%;
	background-color: white;
}

#centered {
	min-width: 400px;
	min-height: 500px;
	margin: 0 20%;
	/*background-color: white;*/
}

#Average {
	text-align: center;
	font-size: 3em;
	margin-top: 100px;
	margin-bottom: 0;
	background-color: steelblue;
	color: white;
}

.wide {
	display: inline-block;
	width: 10%;
}

#reset {
	border: none;
	background-color: white;
	font-size: 2em;
	font-weight: bold;
	color: steelblue;
}

button {
	outline: none;
	margin-top: 5px;
	margin-left: 50%;
}

#green {
	color: limegreen;
}

#orange {
	color: orange;
}

#red {
	color: darkred;
}